<%= form_with(model: [:admin, customers_movie_stocks_user], local: true) do |form| %>
  <% if customers_movie_stocks_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customers_movie_stocks_user.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
        <% customers_movie_stocks_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :late_fee %>
    <%= form.text_field :late_fee %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.text_field :discount %>
  </div>

  <div class="field">
    <%= form.label :rented_date %>
    <%= form.date_field :rented_date %>
  </div>

  <div class="field">
    <%= form.label :returned_date %>
    <%= form.date_field :returned_date %>
  </div>

  <div class="field">
    <%= form.label :customers %>
    <%= form.collection_select :customer_id, Customer.all,
                          :id, :name, class: 'form-control'%><br>
  </div>

  <div class="field">
    <%= form.label :movie_stocks %>
    <%= form.collection_select :movie_stock_id, MovieStock.all,
                          :id, :id, class: 'form-controll' %><br>
  </div>

  <div class="field">
    <%= form.label :users %>
    <%= form.collection_select :user_id, User.order(:name),
                          :id, :name, class: 'form-control' %><br>
  </div>

  <div class="actions">
    <%= form.submit "Create the Rental" %>
  </div>
<% end %>
