<p id="notice"><%= notice %></p>

<h1>Movie Stocks</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Is Rented?</th>
    <th>Inventory</th>
    <th>Video</th>
    <th>Media Type</th>
  </tr>
  <% for movie_stock in @movie_stocks %>
    <tr>
      <td><%= movie_stock.id %></td>
      <td><%= movie_stock.is_rented %></td>
      <td><%= movie_stock.inventory_id %></td>
      <td><%= movie_stock.inventory.video.title %></td>
      <td><%= movie_stock.inventory.media_type.name %></td>
      <td><%= link_to "Show", movie_stock %></td>
    </tr>
  <% end %>
</table>
