<p id="notice"><%= notice %></p>

<h1>Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Inventory ID</th>
      <th>Price</th>
      <th>Total copies</th>
      <th>Barcode No.</th>
      <th>Media Type</th>
      <th>Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.id %></td>
        <td><%= inventory.price %></td>
        <td><%= inventory.total_copies %></td>
        <td><%= inventory.barcode_no %></td>
        <td><%= inventory.media_type.name %></td>
        <td><%= inventory.video.title %></td>
        <td><%= link_to 'Show', admin_inventory_path(inventory) %></td>
        <td><%= link_to 'Edit', edit_admin_inventory_path(inventory) %></td>
        <% if log_in_as_super_user? || log_in_as_admin_user? %>
          <td><%= link_to 'Destroy', admin_inventory_path(inventory), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_admin_inventory_path %>
