<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @inventory.id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<p>
  <strong>Total copies:</strong>
  <%= @inventory.total_copies %>
</p>

<p>
  <strong>Barcode no:</strong>
  <%= @inventory.barcode_no %>
</p>

<p>
  <strong>Video:</strong>
  <%= @inventory.video.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @inventory.media_type.name %>
</p>

<%= link_to 'Edit', edit_admin_inventory_path(@inventory) %> |
<%= link_to 'Back', admin_inventories_path %>
