<p id="notice"><%= notice %></p>

<h1>Content Ratings</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for content_rating in @content_ratings %>
    <tr>
      <td><%= content_rating.name %></td>
      <td><%= link_to "Show", [:admin, content_rating] %></td>
      <td><%= link_to "Edit", edit_admin_content_rating_path(content_rating) %></td>
      <td><%= link_to "Destroy", [:admin, content_rating], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Content Rating", new_admin_content_rating_path %></p>
