<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @customer.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @customer.password_digest %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %>

<div class="container">
	<div class="dashboard">
		<ul>
			<li id="link"><%= link_to "Videos", videos_path, class: "btn btn-light" %></li>
			<li id="link"><%= link_to "Rentals", customers_movie_stocks_users_path, class: "btn btn-light" %></li>sy
		</ul>
	</div>
</div>
