<h1>Show media Type</h1>

<p>
  <strong>ID:</strong>
  <%= @media_type.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @media_type.name %>
</p>

<p>
  <%= link_to "Edit", edit_admin_media_type_path(@media_type) %> |
  <%= link_to "Destroy", [:admin, @media_type], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_media_types_path %>
</p>
