<p id="notice"><%= notice %></p>

<h1>Movie Stocks</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Video</th>
    <th>Media Type</th>
    <th>Is Rented?</th>
    <th>Inventory</th>
  </tr>
  <% for movie_stock in @movie_stocks %>
    <tr>
      <td><%= movie_stock.id %></td>
      <td><%= movie_stock.inventory.video.title %></td>
      <td><%= movie_stock.inventory.media_type.name %></td>
      <td><%= movie_stock.is_rented %></td>
      <td><%= movie_stock.inventory_id %></td>
      <td><%= link_to "Show", [:admin, movie_stock] %></td>
      <td><%= link_to "Edit", edit_admin_movie_stock_path(movie_stock) %></td>
      <td><%= link_to "Destroy", [:admin, movie_stock], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Movie Stock", new_admin_movie_stock_path %></p>
