<% provide(:title, 'Video') %>
<h1>New Video</h1>

<div class="row">

  <div class="col-md-6 col-md-offset-3" id="add-video">
    <%= render 'form', admin_video: @admin_video %>
  </div>


  <div class="container">
  	<div class="dashboard">
  		<ul>
  			<li><%= link_to "Add new Actors", new_admin_actor_path, class: "btn btn-light" %></li><br>
  			<li><%= link_to "Add new Content Ratings", new_admin_content_rating_path, class: "btn btn-light" %></li><br>
  			<li><%= link_to "Add new Actor Genders", new_admin_actor_gender_path, class: "btn btn-light" %></li><br>
        <li><%= link_to "Add new Actor Countries", new_admin_actor_country_path, class: "btn btn-light" %></li><br>
        <li><%= link_to "Add new Genres", new_admin_genre_path, class: "btn btn-light" %></li><br>
  		</ul>
  	</div>
  </div>

</div>



<%= link_to 'Back', admin_videos_path %>
